html {
  scroll-behavior: smooth;
}
body {

    background-image: url("boat.JPG");
    background-position: center;
    background-size: cover;
    width: 100%; 
  height: 40%; 
    
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
}

.welcome {
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.topnav {

  border: 8px solid #44a3f9;
  border-bottom: none;
    background-color: aliceblue;
    text-align: center;
   justify-content: space-around;
   align-items: center; /* Align items vertically center */
    width: 100%; /* Uppdaterad enhet för responsivitet */
     box-shadow: 3px 6px 13px rgba(0, 0, 0, 0.884); /* Shadow properties */
    height: 30vh; /* Uppdaterad enhet för responsivitet */
  
    padding: 2vh; /* Uppdaterad enhet för responsivitet */
}
    
.active {    
  width: 200px;
  height: 50px;
  font-size: 17px;
    font-weight: 600;
    padding: 1em ;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
   margin-top: 20vh;
    box-shadow: 0 0 0 0 black;
    margin: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  flex: auto;
    top: 0;
    background-color: #148ebe;
    color: white;
  

   
    
  }
  
  .active:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  };
  
  .active:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

    .empty1 {
      
      background: rgb(20,142,190);
      background: radial-gradient(circle, rgba(20,142,190,1) 0%, rgba(70,164,252,1) 100%); 
                  height: 50px;
                  
  }
  
     
     .name {
      position: static;
    margin-left: 15px;
      text-align: center;
  }

     .home {
      
     
      width: 100%; /* Uppdaterad enhet för responsivitet */
      background-color: white;
      text-align: left;
      max-width: 100%; /* Max bredd */
      height: 1100px; /* Automatisk höjd */
       box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2); /* Shadow properties */ 
  }
  .profilpic {
    margin: 9vh;
    margin-right: 1px;
  }



 .arrowdown {
  
  margin: 5vh auto;
  margin-left: 95vh;

  }
       
    
    .oliver {
        position: sticky;

    }

     .intro {
        text-align: center;
        margin-top: 14em;
     }


      .profilpic {
      margin-left: 45%;
      border: 5px solid #148ebe;
        border-radius: 50%;
      }



      .socials {
        display: flex;
        align-items: center; /* Align items vertically center */
      }
      .facebook {
        display: flex;
      }


 .email {
  margin-left: 61%; /* Push the email link to the right */
}


        .certifications {
            background-color: white;
           height: 70vh;
           width: 100%; 
           margin-top:  40vh;
          margin-left: auto;
          margin-right: auto;
            background-position: center;
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2); /* Shadow properties */ 
            flex-wrap: wrap;
        
           }
         


           .h1cert {
            position: static;
            text-align: center;
          /* Center horizontally with top margin */
            padding: 4px ; /* Increased padding for better spacing */
            border: 8px solid #148ebe; /* Added 'solid' keyword and specified border color */
            border-top-style: none;
            margin-bottom: 10vh;
           margin-left: auto;
           margin-right: auto;
            max-width: 400px; /* Limiting maximum width for better readability */
            background-color: #f0f0f0; /* Light gray background color */
            box-shadow: 0 2px 5px black; 
           }
         
        .pdf {
       
            margin: 25px;
            margin-top: 8vh;
            width: 40vh;
            height: 30vh;
             flex-wrap: wrap; 
             position: static;
           
        }

      
        
           

            
           .resumé {
            max-width: 100%;
            width: 100%;
            height: auto;
            background-color: #ffffff;
            margin-top: 40vh;
            text-align: center;
           }

           .empty2 {
      
background: rgb(20,142,190);
background: radial-gradient(circle, rgba(20,142,190,1) 0%, rgba(70,164,252,1) 100%); 
            height: 500px;
            
           
           }

           .portfolio {
            max-width: 100%;
            width: 100%;
            height: auto;
            background-color: #ffffff;
          
            text-align: center;
           }

        footer {
           background-color: #148ebe;
           width: 100%;
            height: 50px; 
         
            color: #f0f0f0;
            padding: 15px;
            text-align: center;
      
            bottom: 0;
        }




  

  @media only screen and (max-width: 300px) {
    /* Stilar som tillämpas när skärmbredden är högst 600px */
    .topnav {
        padding: 1vh; /* Uppdaterad enhet för responsivitet */
    }
  
    .active {
        font-size: 1.5vh; /* Uppdaterad enhet för responsivitet */
        padding: 1vh 2vh; /* Uppdaterad enhet för responsivitet */
    }

    body {
        max-width: 100%;
        height: auto;  
    }

    .certifications {
        width: 100%;
    }

    .profilpic {
        border: 3px solid #148ebe;
        border-radius: 50%;
        margin-left: 200px;
        width: 70%; 
    }
}
